interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.jpl.nasa.gov/
  response:
    body:
      string: "<!DOCTYPE html><html  lang=\"en-US\" data-capo=\"\"><head><meta charset=\"utf-8\">\n<meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<title>NASA
        Jet Propulsion Laboratory (JPL) - Robotic Space Exploration | NASA Jet Propulsion
        Laboratory (JPL)</title>\n<link nonce=\"8U0n+9Iar4kDAZKUNbZQaw==\" integrity=\"sha384-r2ttdq7AQWIY2/jhlBKxn/QgOvBMR/Pp21DYOKYna+/LkM8QICl3mpA7Z5fboxXp\"
        rel=\"stylesheet\" type=\"text/css\" href=\"/fonts.css\">\n<style nonce=\"8U0n+9Iar4kDAZKUNbZQaw==\">/*!
        tailwindcss v3.4.4 | MIT License | https://tailwindcss.com*/*,:after,:before{border:0
        solid;box-sizing:border-box}:after,:before{--tw-content:\"\"}:host,html{line-height:1.5;-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif,Apple
        Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-feature-settings:normal;font-variation-settings:normal;tab-size:4;-webkit-tap-highlight-color:transparent}body{line[...]
